{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    Adicionar uma Nova Tarefa 
{% endblock page_title %}

{% block content %}
    {% if todo.pk %}
    <div class="alert alert-dark" role="alert">
        <h3 style="text-align:Center; font-family: Verdana; font-size:30px;">Editar a Tarefa</h3>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
    </div>
        
    {% else %}
    <div class="alert alert-dark" role="alert">
        <h3 style="text-align:Center; font-family: Verdana; font-size:30px;">Criar Nova Tarefa.</h3>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
    </div>
    {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </form>
{% endblock content %}