{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    Adicionar uma Nova Tarefa 
{% endblock page_title %}

{% block content %}
    {% if todo.pk %}
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span></br></br>
        <h3>Editar a Tarefa</h3>
    {% else %}
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span></br></br>
        <h3>Criar Nova Tarefa.</h3>
    {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </form>
{% endblock content %}